

        
        body { 
            font-family: 'Georgia',serif;
            background-image: url("quran.jpg"); /* source:https://unsplash.com/photos/person-holding-quran-book-fQET4BjQmvc*/
            background-position: center;
            background-size: cover;
 
        }

        .page1{
            border: 2px solid #ccc; 
            padding: 10px; 
            background-color: rgb(167, 225, 198);

        }
        .page2first {
            background-color: #d39dba; 
            margin-bottom: 5px;
            padding: 10px; 
            border-radius: 5px;
            font-weight: bold;
            border: 2px solid #e0cfcf;  
            text-align: center;

        }

        .page2{
            border: 2px solid #ccc; 
            padding: 10px; 
            background-color: rgb(167, 225, 198);
            background-size:300px 100px;
            
            

        }

        .page3{
            background-color: rgb(224, 227, 230);
            padding: 10px;

        }

        .page4{
            background-color: rgb(224, 227, 230);
            padding: 10px;
            text-align: center;

        }


        h1 {
            font-family: 'Courier New',monospace;
            color: rgb(230, 227, 227);
            border: 2px solid #ccc; 
            padding: 10px; 
            background-color: rgb(88, 132, 98);
        }

        h2{
            font-weight: bold; 
            color: white;
            text-align: center;
            font-size: 30px;
        }

        h3{
            color: white;
            text-align: center;
            font-style: italic; 
        }

        h4,p{
            font-family: 'Georgia',serif;
            color: black;
            padding: 5px;

        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        .container {
            display: flex;
            flex-direction: column; 
        }

        .button-style {
         background-color:rgb(91, 146, 113);
         border: solid;
         color: rgb(11, 10, 10);
         padding: 10px 10px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-family: 'Courier New', monospace;
         font-weight: bold; 
         font-size: 14px;
         margin: 4px 2px;
         cursor: pointer;
        }

        .button-style1 {
            background-color:rgb(112, 166, 142);
            border: solid;
            color: rgb(11, 10, 10);
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-family: 'Courier New', monospace;
            font-weight: bold; 
            margin: 4px 2px;
            top: 25px;
            position: absolute;
            right: 16px;
           }

           .custom-select {
            min-width: 350px;
            position: relative;
          }
          
          select {
            appearance: none;
            -webkit-appearance: none;
            width: 100%;
            font-size: 1.15rem;
            padding: 0.675em 6em 0.675em 1em;
            background-color: #fff;
            border: 1px solid #caced1;
            border-radius: 0.25rem;
            color: #000;
            cursor: pointer;
           
          }
          
          .custom-select::before {
            border-bottom: var(--size) solid #fff;
          }
          .custom-select::after {
            --size: 0.3rem;
            content: "";
            position: absolute;
            right: 1rem;
            pointer-events: none;
            border-top: var(--size) solid #fff;
          }
          
          .custom-select::before {
            border-left: var(--size) solid transparent;
            border-right: var(--size) solid transparent;
            border-bottom: var(--size) solid black;
            top: 40%;
          }
          
          .custom-select::after {
            border-left: var(--size) solid transparent;
            border-right: var(--size) solid transparent;
            border-top: var(--size) solid black;
            top: 55%;
          }
          

        table {
            font-family: 'Courier New', monospace;
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            font-weight: bold; 
        }

       
        th {
            font-family: 'Courier New', monospace;
            background-color: #f2f2f2;
            padding: 12px;
            text-align: left;
            border: 1px solid #0d0d0d;
            font-weight: bold; 
        }

        td {
            background-color: #ece3e3;
            padding: 10px;
            text-align: left;
            border: 1px solid #080808;
            font-weight: bold; 
        }

        
        tr:hover {
            background-color: #d4bfbf;
        }

        .error-message {
            color: red;
            font-size: 14px;
            border: 1px solid red; 
            font-weight: bold;
            padding: 5px; 
            
        }

        .rest{
            background-color: #abcdd6;
            text-align: center;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;

        }

       