<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Email Page</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h2>Finding Your Latest Progress Notes</h2>
    <h3>Please enter the <strong>email</strong> you have saved your data with!</h3>

    <div class="page4"><span>
    <form action="/search" method="post">
        <label for="email"><strong>Enter Email:</strong></label>
        <input type="text" id="email" name="email" required></span>
        <button type="submit" class="button-style">Search</button>
    </form>
    </div>
    <br>
    <br>

    <form action="/goback" method="get">
        <button type="submit" class="button-style">Go Back</button>
    </form>

</body>
</html>
