<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestApi</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
   <h4>This page is for anyone who wishes to use see the Json Objects</h4>
<div class="rest">
If you want to see the whole lists of Surah and their information:
    <p><span style="background-color: #618f94;
        text-align: center;
        border-radius: 15px;
        padding: 10px;" >   https://wacky-believe-production.up.railway.app/api/surahList   </span></p>

If you want to see only a specific Surah with just arabic text, please enter the index/Surah number here:
    <p><span style="background-color: #618f94;
        text-align: center;
        border-radius: 15px;
        padding: 10px;"n>   https://wacky-believe-production.up.railway.app//arabic/{number}   </span></p>
   
If you want to see only a specific Surah with translated text, please enter the index/Surah number and language from the list of languages here:   
    <p><span style="background-color: #618f94;
        text-align: center;
        border-radius: 15px;
        padding: 10px;">   https://wacky-believe-production.up.railway.app//otherLang/{number}/{language}  </span></p>
    
If you want to see only a specific Surah with romanized text, please enter the index/Surah number and language here: 
    <p><span style="background-color: #618f94;
        text-align: center;
        border-radius: 15px;
        padding: 10px;">   https://wacky-believe-production.up.railway.app//romanized/{number}  </span></p>
    
If you want to see a specific saved Update Progress using an email:
     <p><span style="background-color: #618f94;
        text-align: center;
        border-radius: 15px;
        padding: 10px;">  https://wacky-believe-production.up.railway.app/api/load/{email}  </span></p>
</div>
<br>
<br>

<li style="background-color: #f2f2f2; list-style: none; border-radius: 15px; padding : 15px">List of Languages:
<p>For English, add <em>en.asad</em></p>
<p>For Bahasa Indonesia add <em>id.indonesian</em></p>
<p>For Tamil, add <em>ta.tamil</em></p>
<p>For Korean Language add <em>ko.korean</em></p>
<p>for Japanese Language, <em>add ja.japanese</em></p>
<p>For Hindi, add <em>hi.hindi</em></p>
</li>

    
</body>
</html>