<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Showing Surah Selected</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h1>Selected Surah Information:</h1>
    
    <div class ="page2first" th:if="${selectedSurah != null}">
        <p>Surah Name: <span style ="font-size:25px" th:text="${selectedSurah.name}"></span></p>
        <p>English Name: <span th:text="${selectedSurah.englishName}"></span></p>
        <p>Translated In English : <span th:text="${selectedSurah.englishNameTranslation}"></span></p>
        <p>Number of Ayahs in this Surah: <span th:text="${selectedSurah.numberOfAyahs}"></span></p>
    </div>
    <br>

    <div class ="page2">
    <h4>Navigation:
    <p>To update bookmarked progress, please proceed to click <em>Update Progress</em></p>
        <p> Or you can scroll to the button page and click <em>Update Progress</em></p>
    <p style="color: #ec2e2e;">To Note: Clicking save would mean overwriting your bookmarked progress, so you will only see your latest saved Progress<br></p>
    
    <p>If you wish to go back, please proceed to  click <em>Go Back</em></p>
        <p>Or you can scroll to the button page and click <em>Go back</em></p></h4>

    </div>

    <br>

    <form  action="/userPage" method="get">
        <button type="submit" class="button-style">Update Progress</button>
    </form>

    <form  action="/goback" method="get">
        <button type="submit" class="button-style">Go Back</button>
    </form>
    <br>

    <div th:if="${ListOtherLang != null and ListArabic != null and ListRomanized != null}">
        <br>
        <h2>Ayahs in Surah:</h2>
        <ul style="background-color: lightgray; padding: 10px; border-radius: 5px;">
            <li th:each="ayah, iterStat : ${ListOtherLang}" style="background-color: #f5f5f5; margin-bottom: 5px; padding: 10px; border-radius: 5px; text-align: center;">
                <br>
                <p>No. <span th:text="${ayah.number}"></span></p>
                <p>Arabic Text:<br><br> <span style ="font-size: 30px;" th:if="${iterStat.index < ListArabic.size()}" th:text="${ListArabic[iterStat.index].text}"></span></p>
                <p><span th:style="'font-style: italic;'" style ="font-size: 15px;" th:if="${iterStat.index < ListRomanized.size()}" th:text="${ListRomanized[iterStat.index].text}"></span></p>
                <p><span style ="font-size: 15px;" th:text="${ayah.text}"></span></p>
                <br>
            </li>
        </ul>
    </div>

    <form action="/userPage" method="get">
        <button type="submit" class="button-style">Update Progress</button>
    </form>

    <form action="/goback" method="get">
        <button type="submit" class="button-style">Go Back</button>
    </form>
</body>
</html>