<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Surah Tracking Progress</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h1>Welcome to the Surah Progress Tracking Site</h1>



    <br>
    <div class = "page1">
        <h4>Instructions on how to use the site:</h4>
        <p>Select the Surah you want to read and the language you would like the Surah to be translated to!</p>
        <p>Click <strong>Find Surah</strong> to view the Surah selected with the Surah and Language of your choice</p>
        <p>Click <strong>View Previous Saved Progress</strong> to review your previous saved progress</p>
        <p>You can either start reading from the first Surah to the last Surah and take note of your progress here
            <br><em>(the dropdown list has arranged the chapters of the Al-Quran chronologically etc.. "1 Al Fatihaa" means it is the first Surah in the Al-Quran)</em>
            <br>Or you can memorise a particular Surah and take note of your progress here</p>
    </div>
    

    <br>
    <br>

    <form th:action="@{/surahList}" th:method="post" th:object="${selectedSurah}">
        <label style="font-size:20px;font-weight: bold; " for="surahSelect" >Select a Surah:</label>
        <select id="surahSelect" name="surahSelect" th:field="*{number}">
            <option th:each="surah : ${surahList}"
                    th:value="${surah.number}"
                    th:text="${surah.number + ' - ' + surah.englishName}"></option>
        </select>

        <br>
        <br>

        <label style="font-size:20px;font-weight: bold; " for="language">Select a Language:</label>
        <select id="language" name="language">
            <option value="id.indonesian">Bahasa Indonesian</option>
            <option value="en.asad">English</option>
            <option value="ta.tamil">Tamil</option>
            <option value="ko.korean">Korean</option>
            <option value="ja.japanese">Japanese</option>
        </select>

        <br>
        <br>
        <br>

        <button type="submit" class="button-style" name="action" value="find">Find Surah</button>
        <br>
        <br>
    <button type="submit" class="button-style" name="action" value="viewBookmarked">View Previous Saved Progress</button>
       </form>
        


</body>
</html>
