<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Notes</title>
</head>
<body>
    <h1>Saving Notes</h1>

    <form th:action="@{/save}" th:method="post">
        <label for="email">Enter your email:</label>
        <input type="text" id="email" name="email" required/>
        <br/>
        <br>
        <label for="comments">Comments:</label>
        <textarea id="comments" name="comments" rows="4" cols="50"  required></textarea>
        <br/>
        <label for="birthdate">Current Date:</label>
        <input type="date" id="birthdate" name="birthdate" th:value="${currentDate}">
        <br>
        <button type="submit">Submit</button>
    </form>

    <form action="/back" method="get">
        <button type="submit">Go Back to SurahPage</button>
    </form>


</body>
</html>
