

   

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Saving Progress</title>
    <link href="style.css" rel="stylesheet">
<body>

    <h1>Saving Your Updated Progress</h1>

   <h3>Please enter your details to update your progress</h3>


   <div class="page3">
    <form th:action="@{/save}" th:method="post" th:object="${savedData}">
        <label for="email"><strong>Enter your email:</strong></label>
        <input type="text" th:field="*{email}">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"class="error-message"></span>
        <br/>

        <br>


        <label for="surahSelect"><strong>Select Your Surah:</strong></label>
        <select id="surahSelect" name="surahSelect" th:field="*{selectedSurahEnglishName}">
        <option th:each="surah : ${surahList}" 
            th:value="${surah.englishName}" 
            th:text="${surah.number + ' - ' + surah.englishName}"></option>
        </option>
        </select>
        <span th:if="${#fields.hasErrors('selectedSurahEnglishName')}" th:errors="*{selectedSurahEnglishName}"class="error-message"></span>
        <br>


        <br>

    
        <label for="currentdate"><strong>Date of Updated Progress</strong></label>
        <input type="date" th:field="*{currentdate}" th:value="${currentDate}">
        <span th:if="${#fields.hasErrors('currentdate')}" th:errors="*{currentdate}" class="error-message"></span>
        <br>


        <br>

        <label for="comments"><strong>Details of Progress:<br>(example: Memorised until the 3rd Ayah etc...)</strong></label>
        <div>
        <textarea th:field="*{comments}" rows="4" cols="50" style="margin: 0 auto;"></textarea>
        </div>
        <span th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"class="error-message"></span>
        <br/>

        </div>
        
        <br>

        <button type="submit" class="button-style">Submit</button>
    </form>

    
    <form action="/goback" method="get">
        <button type="submit" class="button-style">Go Back</button>
    </form>

</body>
</html>

