<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Saved Data</title>
</head>
<body>
    <h1>View Saved Data for Email: <span th:text="${email}"></span></h1>
    <table>
        <thead>
            <tr>
                <th>Current Date</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${savedData != null}">
                <td th:if="${savedData != null}" th:text="${savedData.birthdate}"></td>
                <td th:if="${savedData != null}" th:text="${savedData.comments}"></td>
            </tr>
            <tr th:unless="${savedData != null}">
                <td colspan="2">No data found</td>
            </tr>
            </tbody>
            </tr>
        </tbody>
    </table>



<form action="/goback" method="get">
    <button type="submit">Go Back</button>
</form>

</body>
</html>
