<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Saved Data</title>
</head>
<body>
    <h2>View Latest Progress for Email: <span th:text="${email}"></span></h2>
    <table>
        <thead>
            <tr>
                <th>Current Date</th>
                <th>Surah Name</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${savedData != null}">
                <td th:text="${savedData.formattedBirthdate}"></td>
                <td th:text="${savedData.selectedSurahEnglishName}"></td>
                <td th:text="${savedData.comments}"></td>
            </tr>
            <tr th:unless="${savedData != null}">
                <td colspan="3">No data found</td>
            </tr>
        </tbody>
    </table>


    <h5> Keep it up!</h5>



<form action="/goback" method="get">
    <button type="submit">Go Back</button>
</form>

</body>
</html>
